@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
body{
    font-family: 'Mukta', sans-serif;
    background: black;
    align-items: center;
    color: whitesmoke;
}

h1,h2,p,div{
    text-align: center;
    color: whitesmoke;
}

.image-cropper {
    text-align:center;
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    object-position: center;
}

img {
    display: inline;
    margin: 0 auto;
    height: 115%;
    width: auto;
    align-content: center;
}

  #videoBG{
    width: 100%;
    height: fit-content;
    object-fit: fill;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    background-color: black;
  }

  /* Grade da foto */
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }

  .item1 {
    grid-column: 2 / 3;
  }

  /*fim grade da foto*/
  