@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
body{
    font-family: 'Mukta', sans-serif;
    background: black;
    align-items: center;
    color: whitesmoke;
}

h1,h2,p,div{
    text-align: center;
    color: whitesmoke;
    
}

#caixa_texto {
    align-items: center;
    border-radius: 15px 50px;
    background: #0a045e9f;
    padding: 30px; 
    width: auto;
    height: auto; 
  } 

.image-cropper {
    text-align:center;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    object-position: center;
}

img {
    display: inline;
    margin: 0 auto;
    height: 115%;
    width: auto;
    align-content: center;
}

  #videoBG{
    width: 100%;
    height: fit-content;
    viewport-fit: scale-down;
    object-fit: fill;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.450);
  }

  /* Grade da centralizada */
  .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: auto;
  }

  .item{
    align-self: center;
    justify-self: center;
  }
  /*fim grade da centralizada*/

  a:link, a:visited {
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: transparent;
  text-shadow: rgb(11, 11, 116);
  text-emphasis-color: white;
  }
</style>