@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
body{
    font-family: 'Mukta', sans-serif;
    background: black;
    color: whitesmoke;
}
h1{
    background: dimgray;
    color: whitesmoke;
}