@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
body{
    font-family: 'Mukta', sans-serif;
    background: black;
    color: whitesmoke;
}

h1,h2,p,div{
    text-align: center;
    color: whitesmoke;
}

.image-cropper {
    text-align: center;
    width: 300px;
    height: 300px;
    align-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    align-self: center;
}